services:
  mongo:
    image: mongo
    restart: always
    container_name: mongotesting
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
